* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif, Arial;
    
}

#navbar{
    height: 100%;
    min-width: 290px;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

#navbar header{
    color: white;
    font-size: 35px;
    display: block;
    padding: 15px 6px 50px 20px;
}

#navbar a{
    text-decoration: none;
    font-size: 25px;
    padding: 6px 6px 30px 32px;
    display: block;
    color: white;
}

main{
    margin-left: 330px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

header{
    font-size: 50px;
    margin: 10px 0px 10px 0px;
}

.main-section p{
    margin: 25px 0px 25px 0px;;
}

code{
    display: block;
    text-align: left;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 3;
    background-color: #f7f7f7;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
}

ol{
    margin: 20px 20px 20px 50px;
}

ul{
    margin: 20px 20px 20px 50px;
}

ul li{
    list-style:disc;
}


@media only screen and (max-width: 815px){
#navbar {
    background-color: black;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
}

main {
    width: 100%;
    margin: 280px 0px auto;
}

section {
    display: block;
    margin: 20px;
}
}
